<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        .main {
            background-size: cover;
            background-color: #000;
            background-position: center center;
            text-align: center;
            vertical-align: middle;
            position: relative;
            background-attachment: fixed;
            overflow: hidden;
            font-size: 104px;
            color: #fff;
            margin: 74px 0 54px 0;
            font-family: 'Roboto',Arial,sans-serif;
            font-weight: 600;
        }
    </style>
</head>
<body>
<div class="main">всем{{phrase}}</div>
</body>
</html>